replicaCount: 40

image:
  repository: 556088722803.dkr.ecr.us-east-1.amazonaws.com/my-nginx
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP 
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

# Add this block to target your Karpenter nodes
nodeSelector:
  Name: system