replicaCount: 1

image:
  registry: 556088722803.dkr.ecr.us-east-1.amazonaws.com/my-nginx
  repository: my-nginx
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP 
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi