replicaCount: 1

image:
  registry: docker.io
  repository: bitnami/nginx
  tag: 1.29.1-debian-12-r0
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
